*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 400px;
}