*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	color: black;		
}

/*Navbar*/

.nav-list {
	display: grid;
	grid-template-columns: 3fr 5fr 1fr;
	grid-gap: 10px
}

.logo {
	height: 60px;
	width: 120px;
}

li {
	list-style-type: none;
	padding: 0px 12px;
	font-size: 24px;
	font-weight: bold;
}

li::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

li:hover::after {
  width: 100%;
}

ul {
	display: flex;
	align-items: center;
}

.toggle {
	display: none;
}

/*Responsiveness of Navbar*/

@media only screen and (max-width: 768px) {
	.nav-list {
		display: flex;
		flex-direction: column;
	}

	.toggle {
		display: block;
		position: absolute;
		right: 10px;
	}

	.nav-toggle {
		height: 35px;
		width: 35px;
		background-color: white;
		border-radius: 5px;
		margin-top: 10px;
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.links {
		height: 0;
		overflow: hidden;
		transition: 0.5s;
	}

	.show-links {
		transition: 0.5s;
		height: 15rem;
		display:flex;
	}

}

/*Profile Page*/

#wholeprofile {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-top: 36px;
	margin-left: 100px;
	margin-right: 100px;
}

.profile {
	padding-left: 75px;
	width: 450px;

}

#icon {
	size: inherit;
}

.my-name {
	font-size: 36px;
	font-weight: bold;
	padding-top: 36px;
	text-align: right;
}

.my-title {
	font-size: 24px;
	padding-top: 6px;
	text-align: right;
	padding-bottom: 6px;
}

.brief-description {
	padding-bottom: 12px;
}


.brief-description {
	text-align: justify;
}

.button {
	display: flex;
	justify-content: flex-end;
}

#button-press {
	background: #06053C;
	padding: 5px;
	color: white;
	height: 45px;
	width: 170px;

}

#button-press:hover {
	font-weight: bold;
	box-shadow: 3px 3px 5px grey;
	transition: 0.5s;
	border-radius: 5px;
}
#id-container {
	display: flex;
	justify-content: center;
}
#profile-picture {
	height: 400px;
	width: 300px;
}

.link-id {
	text-decoration: none;
	color: black;
}

.link-id:hover {
	font-weight: bold;
}

.contact-items {
	display: column;
	align-items: center;
	padding-top: 12px;
}

.contact {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: left;
}

.contact-info {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 10px;
}

#icon {
	font-size: 25px;
	margin-right: 10px;
	margin-left: 12px;
}	 



.link-item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;

}

